<footer class="fluid">
  <section class="container wide">
      <div class="row no-mar">
          <div id="footer-left" class="col-md-8 mar marV">
              <div class="row no-mar pad padV">
                  <div class="col-md-3 col-6 foot-item">
                    <div class="col-xs-8 col-xs-offset-2 mobile-text-center">
                      <h4>company</h4>
                      <ul>
                          <li>
                              <a href='/about-us' >About Us </a>
                         </li>
                          <li>
                              <a href='#' >Store Locations </a>
                         </li>
                          <li>
                              <a href='#' target='_blank' >Careers </a>
                         </li>
                         <li>
                              <a href='/news' >News</a>
                         </li>
                          <li>
                              <a href='/contact-us' >Contact Us </a>
                         </li>

                      </ul>
                    </div>
                  </div>

                  <div class="col-md-3 col-6 foot-item">
                    <div class="col-xs-8 col-xs-offset-2 mobile-text-center">
                      <h4>Get inspired</h4>
                          <ul class="">
                             <li> <a href='#' target='_blank' >Blog </a> </li>
                             <li> <a href='/home-design?icid=Footer-Tips-and-Inspiration' >Tips & Inspiration </a> </li>
                             <li> <a href='/catalog?icid=Footer-Catalog' >Our Catalog </a> </li>
                             <li> <a href='#' target='_blank' >Room Planner </a> </li>
                             <li> <a href='/a-hope-to-dream' >Hope To Dream </a> </li>
                             <li> <a href='/home-to-hope' >Home To Hope </a> </li>
                          </ul>
                    </div>
                  </div>
                  <div class="col-md-3 col-6 foot-item">
                    <div class="col-xs-8 col-xs-offset-2 mobile-text-center">
                      <h4>Customer Support</h4>
                      <ul>
                        <li><a href="#">customer care</a></li>
                        <li><a href="#">order tracking</a></li>
                        <li><a href="#">shopping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">shipping and delivery</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Care and Cleaning</a></li>
                        <li><a href="#">Warranty Information</a></li>
                        <li><a href="#">Glossary</a></li>
                      </ul>
                    </div>
                  </div>

                  <div  class="col-md-3 col-6 foot-item ">
                    <div class="col-xs-8 col-xs-offset-2 mobile-text-center">
                      <h4>My Account</h4>
                      <ul>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My Order History</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div>
          <div id="footer-right" class="col-md-3 mar marV flex-right">
              <div class="row">
                  <div class="social-links fluid pad-half mobile-text-center">
                      <h4>Connect with Us</h4>
                      <ul class="navbar-nav around">
                          <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"> <i class="fa fa-instagram"></i></a></li>
                          <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>
                          <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                      </ul>
                  </div>
                  <div class="search fluid pad-half mobile-text-center">
                      <h4>Sign Up  For The Latest Offers</h4>
                      <form class="" action="index.html" method="post">
                         <div class="input-group nav-search">
                             <input type="search" name="search" value="">
                             <button class="input-group-addon" type="submit" name="button"><i class="fa fa-search"></i></button>
                         </div>
                      </form>
                  </div>
              </div>
          </div>
          <div id="footer-bottom" class="col-12">
                    Jacob Matthews © <?php echo date('o');?>
          </div>
      </div>

  </section>
</footer>
