// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$orange: #f26551;
$peach: #f7a397;
$sand: #e6d1bc;
$grey: #b3b3b3;
$black:#636c72;

$lao:Lao UI, sans-serif;

@import  'base';

@import 'home';

@import 'header';

@import 'footer';
