/*************************
    HEADER
*************************/
// #top-nav

#top-nav{
    .shop-cart-container{
        position:relative;
    }

    .shop-cart-counter{
        position:absolute;
        background:$peach;
        border-radius:50%;
        color:white;
        z-index:3;
        font-weight: bold;
        min-width: 18px;
        min-height: 18px;
        text-align: center;
        top: -9px;
    }
}

// #mobile-menu

#mobile-menu{
    align-self:center;
}

/*************************
    MEDIA
*************************/

@media all and (max-width:768px){
    #logo{
        top:-5px;
    }

    .social-links{
        margin-top:0;
    }
}
@media all and (max-width:480px){
    #logo{
        a{
            font-size:23px;
        }
    }
}
